<div id='aboutUs'>
<br>
<h1>About Us</h1>

<p>More than 1 million people around the world use Dream Catcher. We thank you for choosing us as your prefered outlet to organize, share and finding more meaning in your dreams and your lives.</p>

<h1>The Dream Team</h1>
<div class="col-sm-2"></div>

<div class="col-sm-4">
<h3 class="n2">Vien Van</h3>
<img class="d1" src="https://scontent-lga3-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-0/p206x206/10389493_10204663276875191_2664340804048980840_n.jpg?oh=8eb459c617ac83936ebf5d3ccbac23e7&oe=574BB685">
<p>Cofounder</p>
</div>

<div class="col-sm-4">
<h3 class="n2">Franchini Mercado</h3>
<img class="d1" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAPYAAAAJDczN2Q5ODBhLWVhM2UtNDdjZS05NTU3LTUyMjQ2MTk3OWZmYw.jpg">
<p>Cofounder</p>
</div>

<div class="col-sm-2"></div>

<div class="col-sm-2"></div>

<div class="col-sm-4 col-sm-offset-2">
<h3 class="n2">Dan Faeh</h3>
<img class="d1" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAR-AAAAJDllZTBkNmEyLTU5MGItNGJjNi04NWU3LTk5MjMwNTAyNWNhNg.jpg">
<p>Cofounder</p>
</div>

<div class="col-sm-4">
<h3 class="n2">Al Dominguez</h3>
<img class="d1" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAR0AAAAJDE0ZGY0ZGVkLTQzZGUtNDczZi04YjgyLTA3ZjNlNWZkYTA2YQ.jpg">
<p>Cofounder</p>
</div>

<div class="col-sm-2"></div>

</div>
