<h1>Temp nav</h1>

<a href="/">Home</a><br />
<a href="/dreamers">/dreamers</a><br />
<a href="/dreamers/id:/dreams">/dreamers/:id/dreams</a><br />
<!-- <a href="/dreamers/1/edit">/dreamers/:id/edit</a><br /> -->
<a href="/pages/about">/pages/about</a><br />
