/*******************************Nav buttons**********************************/
body {
	font-family: Noto Sans;
	overflow: hidden;
}

/*****************************************************************/
.dreams-page {
	height: 50vw;
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('http://i.imgur.com/A3770nh.gif');
	background-attachment: fixed;
	backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
	padding-bottom: 50px;
}

/******************************Main Content***********************************/
.about-us {
	height: 1000px;
}
#logo {
	scroll-snap-coords:
}

.login {
	position   : fixed;
	left       : 10%;
	right      : 10%;
	bottom     : 20%;
	max-height : 50%;
	overflow   : auto;
}
.dreamcatcher {
	font-family: Sacramento;
	color: white;
	font-size: 12em;
	text-align: center;
	margin-top: 15%;
	text-shadow: 0px 0px 10px black;
	/*letter-spacing: 15px;*/
}

#home-btns	{
  position: relative;
  text-align: center;
  margin: 150px auto;
	font-size: 1.5em;
}
#home-btns #login {
	margin-top: -20px;
}

/*****************************************************************/
.main-content {
	width: 100%;
	width: 100%;
}
#footer{
	bottom: 0;
	background: rgba(255, 255, 255, .8);
	color: black;
	height: 45px;
	font-size: 17px;
	left: 0;
	line-height: 45px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 2;
	transition: bottom .3s ease-out 1.7s;
	border-top: none;
}

.form-group {
  text-align: center;
  width: 200px;
  margin: 10px auto;
}


.menu	{
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	font-size: 20px;
	color: #fff;
	line-height: 100px;
	text-decoration: none;
	position: relative;
	margin: 30px auto;
}

.menu:hover	{
	color:#ccc;
	text-decoration:none;
	background: #333;
}

.cancel {
	display: block;
	margin: 0 auto;
	text-align: center;
}

/******************************Sliding background**********************************/

.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -100;
}

.crossfade > figure:nth-child(1) { background-image: url('http://i.imgur.com/41yhAnY.gif'); }
.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('http://i.imgur.com/41yhAnY.gif');
}
.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('https://static.pexels.com/photos/60217/pexels-photo-60217.jpeg');
}
.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('https://static.pexels.com/photos/5056/sky-sunset-night-space.jpeg');
}
.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('https://static.pexels.com/photos/24529/pexels-photo-large.jpg');
}


@keyframes
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}

}

/***********************************************************************************/

/**************************MEDIA QUERY IPHONE6***************************************/
@media (max-width: 400px) {
	.main-content {
		height: 100%;
	}
	.phone-buttons {
		bottom: 0;
		text-align: center;
	}
	.signup {
		position   : fixed;
    left       : 10%;
    right      : 10%;
    bottom     : 50%;
    max-height : 50%;
    overflow   : auto;
	}
	#home-btns {
		position   : fixed;
    left       : 10%;
    right      : 10%;
    bottom     : 1%;
    max-height : 50%;
    overflow   : auto;
	}
		#get-started, #login {
			color: white;
			width: 60%;
			font-size: 1.5em;
			background: rgba(100, 100, 100, .5);
			border: none;
		}

}
/***********************************************************************************/

/***********************************Buttons******************************/
#get-started, #login {
	width: 40%;
	color: white;
	font-size: 1em;
	background: rgba(100, 100, 100, .5);
	border: none;
}
#get-started:hover, #login:hover {
	background: rgba(200, 200, 200, .6);
}
.uploadcare-widget-button {
	width: 200px;
	padding: 10px;
}
#content-wrapper {
}
.calendar-text {
	color: white !important;
}

.addDream {
	font-size: 30px;
	border: none;
	color: rgba(175, 125, 200, 1);
	position: absolute;
	margin-top: -45px;
	top: 0;
	right: 0;
	z-index: 999;
}
.addDream:hover {
	cursor: cell;
	color: gray;
}
