<h1>This is dreamer's edit page</h1>


<a href="#"><img src='http://www.inland-boats.com/images/PICT0070.JPG' class='menu'>Uploadcare Photo Here</a>

<input type="hidden" role="uploadcare-uploader" />

<!-- <script>
  uploadcare.openDialog().done(function(file) {
    file.promise().done(function(fileInfo){
  console.log(fileInfo.cdnUrl);
});
});
</script> -->
