<h1>This is dreamer's edit page</h1>



<a href="/dreamers/{{dreamer._id}}/dreams"><img src='{{dreamer.img}}' class='menu'></a>
<div class="form-group">
  <input type="hidden" role="uploadcare-uploader" name="dreamer[img]"/>
</div>




<!-- <input type="hidden" role="uploadcare-uploader" /> -->

<script>

</script>
