
<div class='dreamers-index'>
  <div class='search'>
<input type='text' placeholder='Search By Dream Tag' id='searchTag' autofocus>
<input type='submit' value ='Search' id='search'>
</div>

<div id="dream-list"></div>
</div>
<script id="dream-template" type="text/x-handlebars-template">

  <div class='container-fluid dreamers-page'>
  <div class='found-dreamers'>
    \{{#each dreamers}}
    <a href='dreamers/\{{_id}}/dreams'><img src='\{{img}}' class='dreamer-img'></a>
    <p>\{{username}}
    \{{/each}}
  </div>


  <div class='found-dreams'>
  <ul>
    \{{#each dreams}}
    <li>\{{description}}</li>
    \{{/each}}
  </ul>
  </div>


</div>



 </script>

 <!-- <video class = 'video' poster="//i.imgur.com/u5yYtxgh.jpg" preload="auto" autoplay="autoplay" muted="muted" loop="loop" webkit-playsinline="" style="width: 934px; height: 505px;">
                <source src="//i.imgur.com/u5yYtxg.webm" type="video/webm">
                <source src="//i.imgur.com/u5yYtxg.mp4" type="video/mp4">

                <object style="width: 934px; height: 505px" type="application/x-shockwave-flash" data="//s.imgur.com/include/flash/gifplayer.swf?1444772065&amp;imgur_video=http://i.imgur.com/u5yYtxg.mp4&amp;imgur_width=934&amp;imgur_height=505&amp;imgur_url=">
                    <param name="movie" value="//s.imgur.com/include/flash/gifplayer.swf?1444772065&amp;imgur_video=http://i.imgur.com/u5yYtxg.mp4&amp;imgur_width=934&amp;imgur_height=505">
                    <param name="allowscriptaccess" value="never">
                    <param name="flashvars" value="height=505&amp;width=934">
                    <param name="width" value="934">
                    <param name="height" value="505">
                    <param name="version" value="0">
                    <param name="scale" value="scale">
                    <param name="salign" value="tl">
                    <param name="wmode" value="opaque">
                </object>
            </video> -->
