<div id="dream-list"></div>

<input type='text' placeholder='Search By Dream Tag' id='searchTag'>
<input type='submit' value ='Search' id='search'>
<script id="dream-template" type="text/x-handlebars-template">
   \{{#each dreams}}
<div id="\{{_id}}" class="dreams">
     <p>Description: \{{description}}</p>
</div>
   \{{/each}}

   \{{#each dreamers}}
    <p>Username: \{{username}}</p>
    <img src='\{{img}}' class='menu'>
   \{{/each}}
 </script>
