<h1>This is dreamers show all page</h1>
{{#each dreamers}}
<img src={{img}} class='menu'/>
{{/each}}



    <input type='text' placeholder='Search By Dream Tag' id='searchTag'>
    <input type='submit' value ='Search' id='search'>
