<h1>This is dreamers show all page</h1>
{{#each dreamers}}
<img src={{img}} class='menu'/>
{{/each}}

{{#each dreams}}
{{description}}
{{/each}}
 {{#each tags}}
 {{name}}<br>
 {{/each}}

 <input type='text' placeholder='Search By Dream Tag' id='searchTag'>
 <input type='submit' value ='Search' id='search'>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
