<!DOCTYPE html>
<html>
<head>
	<title>About Dreamr</title>
</head>
<body>
<h1>About Dreamr</h1>

<p>More than 1 million people around the world use Dreamr.  Our app is a great outlet to organize and share your dreams while finding more meaning in them.</p>

<h1>Our Team</h1>

<img class="d1" src="">
<h3 class="n2">Dan Faeh</h3>
<span>Cofounder and</span>

<img class="d1" src="">
<h3 class="n2">Vien Van</h3>
<span>Cofounder and</span>

<img class="d1" src="">
<h3 class="n2">Franchini Mae</h3>
<span>Cofounder and </span>

<img class="d1" src="">
<h3 class="n2">Al Dominguez</h3>
<span>Cofounder and </span>
</body>
</html>