<div class='signup hidden'>
<form id="Signup-form" action="/dreamers" method="POST">
    <div class='form-group'>
      <input type="text" name="dreamer[username]" placeholder="Username" class="form-control" >
    </div>
    <div class='form-group'>
      <input type="text" name="dreamer[password_digest]" placeholder="Password" class="form-control" >
    </div>
    <div class='form-group'>
      <input type="submit" value='Start Dreaming' class="create_btn btn btn-success">
    </div>
    <div class="form-group">
      <input type="hidden" role="uploadcare-uploader" name="dreamer[img]"/>
    </div>

  </form>
  <button class="btn btn-danger cancel">Cancel</button>
</div>
<div id="home-btns">
  <button class="create_btn btn btn-success" id='get-started'>Get Started</button><br><br>
  <a href='/pages/login' class="create_btn btn btn-success">Log In</a>
</div>

{{#if currentUser}}
<h1>You are now logged in</h1>
{{currentUser.username}}
{{else}}
<h1>Not logged in, SignUp to start dreaming</h1>
{{/if}}
