<div class='signup hidden'>
<form id="Signup-form" action="/" method="POST">
    <div class='form-group'>
      <input type="text" name="username" placeholder="Username" class="form-control" >
    </div>
    <div class='form-group'>
      <input type="text" name="password" placeholder="Password" class="form-control" >
    </div>
    <div class='form-group'>
      <input type="text" value='Start Dreaming' class="create_btn btn btn-success">
    </div>
  </form>
</div>
<div id="home-btns">
  <button class="create_btn btn btn-success" id='get-started'>Get Started</button><br><br>
  <button class="create_btn btn btn-success">Sign In</button>
</div>
