  <form id="Signup-form" action="/" method="POST">
    <div class='form-group'>
      <input type="hidden" name="name" placeholder="Username" class="form-control" >
    </div>
    <div class='form-group'>
      <input type="hidden" name="password" placeholder="Password" class="form-control" >
    </div>
    <div class='form-group'>
      <input type="hidden" value='Start Dreaming' class="create_btn btn btn-success">
    </div>
  </form>

<div id="home-btns">
  <button onclick="" class="create_btn btn btn-success">Get Started</button><br><br>
  <button class="create_btn btn btn-success">Sign In</button>
</div>