
<a href="/dreamers/{{dreamer._id}}/edit"><img src='{{dreamer.img}}' class='menu'></a>


<form id="dreams-form" action="/dreamers/:id/dreams" method="POST">
    <div class='form-group'>
      <input type="text" name="description" placeholder="Description" class="form-control" >
    </div>
    <div class='form-group'>
      <input type="text" name="tags" placeholder="Tags" class="form-control" >
    </div>
    <div class='form-group'>
      <input type="submit" value='Create Dream' class="create_btn btn btn-success">
    </div>
 </form>
